<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

    <!--1stway-->
    <!--    The Below way used to inject values from properties.file using beans.xml-->
    <!--<context:property-placeholder location="classpath:student-info.properties"/>-->
    <!--            <bean id = "odd" class="com.example.demo1.Human">-->
    <!--                <property name="name" value="${odd.name}"/>-->
    <!--                <property name="Id" value="${odd.id}"/>-->
    <!--                <property name="subject" value="${odd.subject}"/>-->
    <!--            </bean>-->


    <!--    2ndway-->
    <context:annotation-config/>
    <context:property-placeholder location="classpath:student-info.properties"/>
    <bean id = "odd" class="com.example.demo1.Human">
    </bean>
</beans>